body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./fruits\ imm\ 22.jpg);
    
    
    background-repeat: no-repeat;
   background-size: cover;
  }
  
  .container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #aca6a6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image:url(./photo-1601004890684-d8cbf643f5f2.avif);
  }
  
  h3 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .survey-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .survey-item p {
    margin: 5px 0;
  }
  
  .delete-btn {
    background-color: #dc3545;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
.con2{
    background-color: #76ace4;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}  