.navbar {
    font-weight: bold;
    font-size: large;
    background-color: blanchedalmond;
    color:blue;
    
    }
    .navbar ul{
        display:flex;
       text-decoration: none;
        
        }
 .navbar ul>li{
        list-style-type: none;
        margin: 0;
        padding: 10px;
        text-decoration: none;
    } 